.post{
    display: flex;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 10px;
    border-bottom: 1px solid var(--twitter-background);
}
.contain__post{
    display: flex;
}
.feed__name{
    color: grey;
}
.post__header{
    display: flex;
    padding-top: 10px;
}
.post__header > .feed__name{
    align-self: flex-start !important;
}
.post__header > .post__moreIcon{
    align-self: flex-end !important;
    color: grey;
}
.post__content > h3 {
    padding-bottom: 15px;
}

.media__image{
    width: 100%;
    height: auto;
    border-radius: 15px;
}
.icons__meta{
    display: block;
}